<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Copiosis</title>
</head>
<body>
<h1>Copiosis admin</h1>
<p>Neoficiální ukázka v raném vývoji</p>
<p>
    <a href="/users">Výpis uživatelů</a> &middot;
    <a href="/products">Výpis produktů</a> &middot;
    <a href="/transfers">Nejnovější transfery</a>
<br>
    <a href="/adduser">Přidat uživatele</a> &middot;
    <a href="/addproduct">Přidat produkt</a> &middot;
    <a href="/transfer">Transfer</a>
</p>
<form action="/addproduct" method="post" accept-charset="utf-8">
    <table>
        <tr>
            <td><label for="name">název produktu</label></td>
            <td></td><td><input type="text" name="name" id="name" value="" required autofocus /></td><td></td>
        </tr>
        <tr>
            <td><label for="gateway">brána pro získání</label></td>
            <td></td><td><input type="number" name="gateway" id="gateway" value="0" min="0" required /></td><td></td>
        </tr><tr><td colspan="4"><hr><td></td></tr>

        <tr>
            <td><label for="resabundance">hojnost zdrojů</label></td>
            <td>1</td><td><input type="range" name="resabundance" id="resabundance" value="1" min="1" max="255" step="1" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="resabundancetun">max. hojnost zdrojů</label></td>
            <td>1</td><td><input type="range" name="resabundancetun" id="resabundancetun" value="1" min="1" max="255" step="1" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="prodpop">množství producentů</label></td>
            <td>1</td><td><input type="range" name="prodpop" id="prodpop" value="1" min="1" max="255" step="1" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="consdem">poptávka konzumentů</label></td>
            <td>1</td><td><input type="range" name="consdem" id="consdem" value="1" min="1" max="255" step="1" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="proddembalance">váha produkce a poptávky</label></td>
            <td></td><td><input type="number" name="proddembalance" id="proddembalance" value="1" min="0" required /></td><td></td>
        </tr><tr><td colspan="4"><hr></td></tr>

        <tr>
            <td><label for="conssubsat">subjektivní uspokojení</label></td>
            <td>-2</td><td><input type="range" name="conssubsat" id="conssubsat" value="0" min="-2" max="2" step="2" required /></td><td>2</td>
        </tr>
        <tr>
            <td><label for="conssubsattun">korekce subj. uspokojení</label></td>
            <td>1</td><td><input type="range" name="conssubsattun" id="conssubsattun" value="1" min="1" max="2" required /></td><td>2</td>
        </tr>
        <tr>
            <td><label for="consobjben">objektivní přínos konzumentovi</label></td>
            <td>-255</td><td><input type="range" name="consobjben" id="consobjben" value="0" min="-255" max="255" step="1" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="consobjbentun">korekce obj. přínosu.</label></td>
            <td>1</td><td><input type="range" name="consobjbentun" id="consobjbentun" value="1" min="1" max="255" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="consbenefit">váha přínosu konzumentům</label></td>
            <td></td><td><input type="number" name="consbenefit" id="consbenefit" value="1" min="0" required /></td><td></td>
        </tr><tr><td colspan="4"><hr></td></tr>

        <tr>
            <td><label for="socbenefit">společenský přínos</label></td>
            <td>1</td><td><input type="range" name="socbenefit" id="socbenefit" value="1" min="1" max="6" step="1" required /></td><td>6</td>
        </tr>
        <tr>
            <td><label for="socbenefittun">korekce spol. přínosu</label></td>
            <td>1</td><td><input type="range" name="socbenefittun" id="socbenefittun" value="1" min="1" max="6" required /></td><td>6</td>
        </tr>
        <tr>
            <td><label for="enveffect">environmentální efekt</label></td>
            <td>-255</td><td><input type="range" name="enveffect" id="enveffect" value="0" min="-255" max="255" step="1" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="enveffecttun">korekce env. efektu</label></td>
            <td>1</td><td><input type="range" name="enveffecttun" id="enveffecttun" value="1" min="1" max="255" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="humaneffect">efekt na lidstvo</label></td>
            <td>-255</td><td><input type="range" name="humaneffect" id="humaneffect" value="0" min="-255" max="255" step="1" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="humaneffecttun">korekce efektu na lidstvo</label></td>
            <td>1</td><td><input type="range" name="humaneffecttun" id="humaneffecttun" value="1" min="1" max="255" required /></td><td>255</td>
        </tr>
        <tr>
            <td><label for="envbenefit">váha přínosu prostředí</label></td>
            <td></td><td><input type="number" name="envbenefit" id="envbenefit" value="1" min="0" required /></td><td></td>
        </tr><tr><td colspan="4"><hr><td></td></tr>

        <tr>
            <td><input type="hidden" name="id" value="0"/>
                <input type="hidden" name="time_created" value="0"/>
                <input type="hidden" name="benefit" value="0" /></td>
            <td></td><td><input type="submit" value="přidat" /></td><td></td>
        </tr>
    </table>
</form>
</body>
</html>