<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Copiosis</title>
</head>
<body>
<h1>Copiosis</h1>
<p>Neoficiální ukázka v raném vývoji</p>
<p>
    <a href="/users">Výpis uživatelů</a> &middot;
    <a href="/products">Výpis produktů</a> &middot;
    <a href="/transfers">Nejnovější transfery</a>
    <br>
    <a href="/adduser">Přidat uživatele</a> &middot;
    <a href="/addproduct">Přidat produkt</a> &middot;
    <a href="/transfer">Transfer</a>
</p>
<form action="/adduser" method="post" accept-charset="utf-8">
    <input type="hidden" name="id" value="0" />
    <label for="name">jméno uživatele</label>
    <input type="text" name="name" id="name" value="" required autofocus/>
    <input type="hidden" name="nbr" value="0" />
    <input type="hidden" name="time_created" value="0"/>
    <input type="submit" value="přidat" />
</form>
</body>
</html>