<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Copiosis</title>
</head>
<body>
<h1>Copiosis</h1>
<p>Unofficial early development sample</p>
<p>
    <a href="/users">Show users</a> &middot;
    <a href="/products">Show products</a> &middot;
    <a href="/transfers">Latest transfers</a>
    <br>
    <a href="/adduser">Add user</a> &middot;
    <a href="/addproduct">Add product</a> &middot;
    <a href="/transfer">Transfer</a>
</p>
<p><b>{{.}}</b></p>
</body>
</html>